# Variables de entorno (¡CRÍTICO para no filtrar tu API Key!)
.env

# Entornos virtuales
.venv/
venv/

# Bases de datos y archivos multimedia pesados
*.db
data/

# Archivos de empaquetado (¡EL CULPABLE DEL ATASCO!)
build/
dist/
*.spec

# Archivos caché de Python
__pycache__/
*.pyc